body {
margin:0;
background:#050510;
font-family: monospace;
color:white;
overflow:hidden;
}

.hidden { display:none }

#login {
position:fixed;
inset:0;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
background:black;
z-index:5;
}

#login h1 {
color:#ff00cc;
margin-bottom:20px;
}

#login input {
margin:5px;
padding:10px;
background:black;
border:1px solid #00ffff;
color:white;
width:220px;
}

#login button {
margin-top:10px;
padding:10px;
background:#00ffff;
border:none;
font-weight:bold;
cursor:pointer;
}

#boot {
position:fixed;
inset:0;
background:black;
color:#00ffcc;
padding:30px;
z-index:4;
font-size:18px;
}

.boot-line {
min-height:22px;
}

#os {
position:fixed;
inset:0;
background:#050510;
z-index:3;
}

header {
display:flex;
justify-content:space-between;
padding:15px;
background:linear-gradient(90deg,#ff00cc,#00ffff);
color:black;
}

.panels {
display:grid;
grid-template-columns:2fr 1fr 1fr;
gap:15px;
padding:15px;
}

.panel {
background:#0b0b18;
border:1px solid #00ffff;
padding:10px;
box-shadow:0 0 20px #00ffff55;
height:300px;
display:flex;
flex-direction:column;
}

.panel-title {
color:#ff00cc;
margin-bottom:6px;
}
